<meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>Login FTP - Administrador</title>
        <link rel="stylesheet" href="{{ asset('/css/bootstrapWa.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/noty/animate.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
        <script src="{{ asset('/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/noty/jquery.noty.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/noty/themes/default.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/noty/layouts/center.js') }}"></script>
        <style type="text/css">
            @CHARSET "UTF-8";
            .progress-bar{color:#333;} 
            *{-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;outline:none;}
            .form-control{position:relative;font-size:16px;height:auto;padding:10px;@include box-sizing(border-box);&:focus{z-index:2;}}
            body{-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
            .login-form{margin-top:60px;width:600px;}
            form[role=login]{color:#5d5d5d;background:#f2f2f2;padding:26px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
            form[role=login] img{display:block;margin:0 auto;margin-bottom:35px;}
            .form-links{text-align:center;margin-top:1em;margin-bottom:50px;}
            .form-links a{color:#025AA5;}
            form{min-width:380px !important ;}
            form[role=login] input{width:255px !important;}
        </style>
    <script src="{{ asset('js/jquery.jkey.min.js') }}"></script>
<script type="text/javascript">
    var activo=0;
    $(function(){
        $('#username').focus();
        $('#linkRecordartoio').click(function(){
            $('#autenticar').hide();
            $('#recordarClave').show();
            $('#codigoDrogueria').focus();
        });
        $('#linkAutenticar').click(function(){
            $('#autenticar').show();
            $('#recordarClave').hide();
            $('#username').focus();
        });
        {% if app.session.flashbag.get('no_cliente')  %} 
            $('.estado').empty().html('Usuario no encontrado');
            animar();
        {% endif %}

        {% if app.session.flashbag.get('sin_autenticar')  %} 
            $('.estado').empty().html('Usuario y/o contraseña invalidos.');
            animar();
        {% endif %}

        {% if app.session.flashbag.get('no_permiso')  %} 
            $('.estado').empty().html('No tiene permiso para acceder a la aplicaci&oacute;n.<br>Comun&iacute;quese con el administrador o proveedor.');
            animar();
        {% endif %}
        {% for flashMessage in app.session.flashbag.get('Recordatorio') %}$('.estado').empty().html('{{flashMessage}}');{% endfor %}
        {% if provBloqueado != null %}
            $('.estado').html('El administrador no le ha concedido permisos para acceder a la aplicación.<br>Por favor, comuníquese con él.');
            animar();
        {% endif %}
        {% if app.session.flashbag.get('error') %}
            $('.estado').html('Usuario y/o contraseña invalidos');
            animar();
        {% endif %}
        $('#recordarClave').submit(function(){
            msg='Por favor espere, estamos validando el Código proporcionado...';
            noty({layout:'center',text:msg+'.<br><center><i class="fa fa-refresh fa-spin"></i></center>',modal:true,type:'alert',timeout:false,closeWith:['none']});
            $.ajax({
                url:'{{ path('administrador_default_recordar_clave') }}',dataType:'JSON', data:$('#recordarClave').serialize(),type:"POST",
                success: function(data){
                    $.noty.closeAll();
                    $('.estado').html(data.status);
                    animar()
                    $('#autenticar').show();
                    $('#recordarClave').hide();
                },
                error: function(data){
                    $.noty.closeAll();
                    $('.estado').html("error al enviar recordatorio "+data.status);
                    animar();
                }
            });
            return false;
        });
    });
    function animar(){
        $('.estado').removeClass().addClass('bounceInDown animated text-danger estado').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
            $(this).removeClass().addClass('text-danger estado');
        });
    }
</script>
    </head>
    <body class="three-col logged-out western es front-page-photo-set front-page" data-fouc-class-names="swift-loading" dir="ltr">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <section class="login-form">
                <div class="col-md-6 text-right">&nbsp;</div>
                <div class="col-md-6">
                    <form method="post" action="{{ path("administrador_default_login_check") }}" role="login" autocomplete="off" id="autenticar">
                        <div>Inicio de sesion <b>FTP</b> - <b>Administrador</b>.</div>
                        <div class="input-group input-group-lg">
                          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i>&nbsp;</span>
                          <input type="text" name="_username" class="form-control" placeholder="Usuario" id="username" aria-describedby="sizing-addon1" value="{% if last_username is defined %}{{ last_username }}{% endif %}" required>
                        </div>
                        <div class="input-group input-group-lg">
                          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-key"></i></span>
                          <input type="password" class="form-control" placeholder="Clave" id="password" name="_password" aria-describedby="sizing-addon1" required>
                        </div>
                        <div class="input-group input-group-lg">
                            <div class="pwstrength_viewport_progress"></div>
                            <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Ingresar</button>
                            <a href="#" id="linkRecordartoio">Recordar clave</a>
                        </div>
                        <div class="text-danger estado"></div>
                    </form> 
                    <form method="post" action="{{ path("administrador_default_recordar_clave") }}" role="login" autocomplete="off" id="recordarClave" style="display:none;">
                        <div>Recordatorio de Clave <b>FTP</b> - <b>Administrador</b>.</div>
                        <div class="input-group input-group-lg">
                          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i>&nbsp;</span>
                          <input type="text" name="codigoDrogueria" class="form-control" placeholder="Email" id="codigoDrogueria" aria-describedby="sizing-addon1" required>
                        </div>
                        <div class="input-group input-group-lg">
                            <div class="pwstrength_viewport_progress"></div>
                            <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Recordar Clave</button>
                            <a href="#" id="linkAutenticar">Autenticar</a>
                        </div>
                        <div class="text-danger estado"></div>
                    </form>              
                </div>
            </section>
        </div>
        <div class="col-md-3"><p class="text-right"><img src="{{ asset('img/nuevo_logo_copi.png') }}" width="213"></p></div>        
        <footer class="footer">
            <p class="text-muted text-right"><a target="_blank" href="http://www.waplicaciones.co"><img src="{{ asset('img/waplicacionesSAS.png') }}" width="100"></a></p>
        </footer>
    </body>
</html>

{#{% extends '::base.html.twig' %}
{% block title %}FTP{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .poweredBy {
            bottom: 5px;
            height: 25px;
            left: 0;
            overflow: hidden;
            padding: 3px;
            position: absolute;
            text-align: right;
            width: 98%;
        }
    </style>
    

{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
    var activo=0;
    $().ready(function(){

        $('#usuario').focus();
        {% if app.session.flashbag.get('no_cliente')  %} 
                $('#estado').empty().html('Usuario no encontrado');
        {% endif %}

        {% if app.session.flashbag.get('sin_autenticar')  %} 
                $('#estado').empty().html('Usuario y/o contraseña invalidos.');
        {% endif %}

        {% if app.session.flashbag.get('no_permiso')  %} 
                $('#estado').empty().html('No tiene permiso para acceder a la aplicaci&oacute;n.<br>Comun&iacute;quese con el administrador o proveedor.');
        {% endif %}
        {% for flashMessage in app.session.flashbag.get('Recordatorio') %}$('#estado').empty().html('{{flashMessage}}');{% endfor %}
        {% if Mensaje is defined  %}
            $('#estado').html('El administrador no le ha concedido permisos para acceder a la aplicación.<br>Por favor, comuníquese con él.').effect('pulsate', {times: 4}, 100);
        {% endif %}
        {% if app.session.flashbag.get('error') %}
            $('#estado').html('Usuario y/o contraseña invalidos').effect('pulsate', {times: 4}, 100);
        {% endif %}

        $('#codigo-recordar').val('');
        $('#btn-entrar, #btn-recordar').click(function(){
            SelectAction();
        });
        $('#recordarClaveForm').hide();
        $("#usuario, #clave, #usuario-rc").keypress(function(){
            $(this).removeClass('uk-form-danger');
            $(this).addClass('uk-form-success');
        });
        $('#autenticarForm').submit( function(){
            contol=0;
            if($('#usuario').val()==''){
                $('#usuario').addClass('uk-form-danger');
                $('#usuario').focus();contol++;
            }else{
                $('#usuario').removeClass('uk-form-danger');
            }
            if($('#clave').val()==''){
                $('#clave').addClass('uk-form-danger');
                $('#clave').focus();contol++;
            }else{
                $('#clave').removeClass('uk-form-danger');
            }
            if(contol==0){
                Cargando('Autenticando, por favor espere...');
                return true;
            }
            else{
                return false
            }
        });
        
        $('#recordarClaveLink').click(function(){
            $('#autenticarForm').slideToggle("slow");
            $('#recordarClaveForm').slideToggle("slow");
        });
        $('#autenticar').click(function(){
            $('#autenticarForm').slideToggle("slow");
            $('#recordarClaveForm').slideToggle("slow");
        });



        $('#btnAutenticar').click(function(){$('#autenticarForm').submit();});
        $('#recordarClaveForm').submit(function(){
            Cargando('Validando, por favor espere...');
            $.ajax({
                url: '{{ path("administrador_default_recordar_clave") }}',
                data:$('#recordarClaveForm').serialize(),
                type:"POST",
                success: function(data){
                    $.noty.closeAll();
                    if(data.respuesta==1){
                       $('#estado').html('<b>La dirección de correo es invalida.</b>');                     
                    }
                    if(data.respuesta==2){
                       $('#estado').html('<b>Mensaje envíado.</b>');                     
                    }

                    $("#estado").effect("pulsate", {duration:3000,complete:function(){$("#estado").html('');}});
                    $('#autenticarForm').slideToggle("slow");
                    $('#recordarClaveForm').slideToggle("slow");
                },
                error: function(data){
                    $.noty.closeAll();
                    MensajeConfirmacion("error al enviar recordatorio "+data.status);
                }
            });
            return false;
        });
    });
    function SelectAction(){
        if(activo==1){
            RecordarClave();
        }else{
            Autenticar();
        }
    }
    function Cargando(msg){
        return noty({
            layout: 'center',
            text: msg+'.<br><center><i class="uk-icon-refresh uk-icon-spin uk-icon-large"></i></center>',
            modal: true,
            type: 'alert',
            timeout: false,
            closeWith: ['none']
        }); 
    }
    
    function RecordarClave(){
        if($('#usuario-rc').val()==""){
            $('#usuario-rc').addClass('error_cajas').focus();
        }else{
            Cargando('Validando Información, por favor espere...');
            $('#Recordar-Clave').submit();
        }
    }
</script>
{% endblock %}
{% block body %}

<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle uk-margin-large-top" style="width: 250px;">
        <img src="{{ asset('img/nuevo_logo_copi.png') }}" width="" alt='Imágen no disponible.'>
        <h2 class='uk-text-success uk-text-small'>Acceso FTP Administrador </h2>
        <form class="uk-panel uk-panel-box uk-form" method="POST" action="{{ path('administrador_default_login_check') }}" id="autenticarForm" autocomplete="off">
            <div class="uk-form-row">
                <input type="text" placeholder="Usuario" required value="{% if last_username is defined %}{{ last_username }}{% endif %}" name="_username" id="usuario" class="uk-width-1-1 uk-form-large">
            </div>
            <div class="uk-form-row">
                <input type="password" placeholder="Clave" required value="" name="_password" id="clave" class="uk-width-1-1 uk-form-large">
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Iniciar Sesión</button>
            </div>
            <div class="uk-form-row uk-text-small">
                <a href="#" id="recordarClaveLink" data-uk-tooltip="{pos:'bottom'}" title="Clic para recordar clave." class="uk-float-right uk-link uk-link-muted uk-text-warning"><i class="uk-icon-envelope-o uk-icon-small"></i> Recordatorio de clave</a>
            </div>
        </form>
        <form class="uk-panel uk-panel-box uk-form" method="post" action="#" id="recordarClaveForm" autocomplete="off">
            <div class="uk-form-row">
                <input type="text" required placeholder="Email" required value="" name="codigo-recordar" id="codigo-recordar" class="uk-width-1-1 uk-form-large">
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary uk-button-large uk-width-1-1">Recordar Clave</button>
            </div>
            <div class="uk-form-row uk-text-small">
                <a href="#" id="autenticar" data-uk-tooltip="{pos:'bottom'}" title="Clic para solicitar recordatorio de Clave." class="uk-float-right uk-link uk-link-muted uk-text-warning"><i class="uk-icon-key uk-icon-small"></i> Iniciar Sesión</a>
            </div>
        </form>
        <div id="estado" style="height:10px;" class="uk-text-danger">
            {% if error is defined %}
               {% if error.message  is defined %} {{ error.message }}{% endif %}
                <script type="text/javascript">
                    $(function(){
                        $('#estado').effect('pulsate', {times: 4}, 100);
                    });
                </script>
            {% endif %}
        </div>          
    </div>
</div>
<div class="poweredBy"><a href="http://www.waplicaciones.co"><img src="{{ asset('img/waplicacionesSAS.png') }}" width="100" alt='Imágen no disponible'></a></div>
{% endblock %}#}
